			<!-- start banner Area -->
			<section class="banner-area" id="home">	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-7">
							<h5 class="text-white text-uppercase">Author: Travor James</h5>
							<h1 class="text-uppercase">
								New Adventure				
							</h1>
							<p class="text-white pt-20 pb-20">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
							</p>
							<a href="#" class="primary-btn text-uppercase">Buy Now for $9.99</a>
						</div>

					
						<div class="col-lg-5 banner-right">
							<div class="testomial-area">
								<div class="owl-carousel">
									<div class="item">
										<img class="img-fluid" src="img/header-img.png" alt="">
									</div>
									<div class="item">
										<img class="img-fluid" src="img/header-img.png" alt="">
									</div>
								</div>
							
						</div>
					</div>
					</div>

				</div>
			</section>
			<!-- End banner Area -->	

<!-- Start testomial Area -->
<section class="testomial-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-8 mt-80">
				<div class="title text-center">
					<h1 class="mb-10">What our Reader’s Say about us</h1>
					<p>Who are in extremely love with eco friendly system.</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="active-tstimonial-carusel">
				<div class="single-testimonial item">
					<img class="mx-auto" src="img/t1.png" alt="">
					<p class="desc">
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
					</p>
					<h4>Mark Alviro Wiens</h4>
					<p>
						CEO at Google
					</p>
				</div>
				<div class="single-testimonial item">
					<img class="mx-auto" src="img/t2.png" alt="">
					<p class="desc">
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
					</p>
					<h4>Mark Alviro Wiens</h4>
					<p>
						CEO at Google
					</p>
				</div>
			</div>
		</div>
	</div>	
</section>


<!-- End testomial Area -->
<section class="testomial-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-8">
				<div class="title text-center"> 
				test slide bar
				</div>
			</div>
		</div>

		<div class="row">
			<div class="active-tstimonial-carusel">
			
				<div class="single-testimonial item">
					<img class="mx-auto" src="img/t1.png" alt="">
					<p class="desc">
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
					</p>
					<h4>Mark Alviro Wiens</h4>
					<p>
						CEO at Google
					</p>
				</div>

				<div class="single-testimonial item">
					<img class="mx-auto" src="img/t1.png" alt="">
					<p class="desc">
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
					</p>
					<h4>Mark Alviro Wiens</h4>
					<p>
						CEO at Google
					</p>
				</div>

				<div class="single-testimonial item">
					<img class="mx-auto" src="img/t1.png" alt="">
					<p class="desc">
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
					</p>
					<h4>Mark Alviro Wiens</h4>
					<p>
						CEO at Google
					</p>
				</div>

				<div class="single-testimonial item">
					<img class="mx-auto" src="img/t1.png" alt="">
					<p class="desc">
						Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
					</p>
					<h4>Mark Alviro Wiens</h4>
					<p>
						CEO at Google
					</p>
				</div>

			</div>
		</div>


	</div>
 </section>